<div class="member-container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="years">
                <% for(var i=0; i< years.length; i++) { %>
                    <% if(i == 2){ %>
                        <span class="current"><%= years[i] %></span>
                    <% } else { %>
                        <span><a href="/team?year=<%= years[i] %>"><%= years[i] %></a></span>
                    <% } %>
                <% } %>
            </div>
            <h1>Our Team</h1>
            <div class="row" id="member-cells">
                <% for(var i=0; i< posts.length; i++) { %>
                    <div class="col-md-3 col-sm-4 col-tn-2 member-cell" data-id="<%= posts[i].id %>">
                        <img src="/images/SEC-profile-picture.png" alt="<%= posts[i].title %>" class="member-profile">
                        <div class="member-content">
                            <h2><%= posts[i].title %></h2>
                            <div>
                                <%- posts[i].description %>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $("#member-cells").on("click",".member-cell",function(){
            $(".member-cell").hide();
            $(this).show().addClass("shown-details")
            
            $(this).find("img").animate({
                "left": "100px",
            },function(){
                $(".shown-details").find(".member-content").fadeIn("fast").css({"left":50+$(".shown-details").find("img").outerWidth()})
            }).css({
            });
            $(this).find("img").data("expanded","true");
        });
        $("#member-cells").on("click",".shown-details",function(){
            $(this).find(".member-content").hide();
            $(".member-cell").show(function(){
                $(this).find("img").animate({
                    "left": "50%",
                });
            });
            $(this).removeClass("shown-details");
        });
    })
</script>